table, th, td {
  border: 1px solid;
}

table {
  height: 100px;
  width: 100%;
  background-size: 100%;
  background-image: url("images/racetrack-background.JPG");
  background-size: contain;
}

img {
  width: 40px;
  height: 40px;
}

#racetrack td.user{
  background-image: url("images/car.JPG");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#racetrack td.owl{
  background-image: url("images/owl.JPG");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
