:root {
  --correct: #27e60e;
  --wrong: #e31616;
}

table,
th,
td {
  border: 1px solid;
}

table {
  height: 100px;
  width: 100%;
  background-size: 100%;
  background-image: url("images/racetrack-background.JPG");
  background-size: contain;
}

img {
  width: 40px;
  height: 40px;
}

#racetrack td.user {
  background-image: url("images/car.JPG");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#racetrack td.owl {
  background-image: url("images/owl.JPG");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  padding: 0px;
  padding-top: 50px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
  background-color: rgb(103, 103, 95);
}

.container-correct {
  --correct: var(--correct: #27e60e);
}

.container-wrong {
  --wrong: var(--wrong: #e31616);
}

#question-container {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: solid 1px black;
  padding: 20px;
  margin: 10px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  background-color: beige;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  outline: none;
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.hide {
  display: none;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border: solid 1px black;
  margin: 20px;
}

.result {
  border: solid 1px black;
  padding: 20px;
}

.question-container {
  border: solid 1px black;
  padding: 20px;
}

.option-container {
  border: solid 1px black;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navigation {
  border: solid 1px black;
  padding: 20px;
}

button {
  margin: 10px;
  font-size: 20px;
  border-radius: 8px;
  padding: 10px;
}

#selectedButton {
  background-color: aqua;
}
